# SPDX-License-Identifier: Apache-2.0

-r requirements.txt

# Needed by Llama Stack remote vLLM distribution
aiosqlite
datasets
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk

llama-stack>=0.1.7

pylint>=2.16.2,<4.0
pylint-pydantic
pytest
pytest-asyncio
pytest-cov
pytest-html
tox>=4.4.2,<5
